@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.numWidth{
  width: 334px;
  /* border:1px solid black */
}
.numDeco{
  font-weight: 700;
  font-size: 35px;
  color: #1d4ed8;
}
.numMsg{
  font-size: 25px;
  font-weight: 600;
}

.animBtn::after{
  content: "Contact ";
  position: absolute;
  opacity: 0;
  width: 0px;
  top: 0px;
  left: 0;
  background-color: #4089ff;
  padding: 5px;
  padding-left: 7px;
  z-index: -1;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.animBtn:hover::after{
  opacity: 1;
  z-index: 2;
  visibility: visible;
  width: 65px;
}

.downBtn::after{
  content: "Download";
  position: absolute;
  opacity: 0;
  width: 0px;
  top: 0px;
  left: 0;
  background-color: #4089ff;
  padding: 8px;
  padding-left: 15px;
  z-index: -1;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.downBtn:hover::after{
  opacity: 1;
  z-index: 2;
  visibility: visible;
  width: 83px;
}

.hireBtn::after{
  content: "Hire";
  position: absolute;
  opacity: 0;
  width: 0px;
  top: 0px;
  left: 0;
  background-color: #4089ff;
  padding: 5px;
  padding-left: 7px;
  z-index: -1;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.hireBtn:hover::after{
  opacity: 1;
  z-index: 2;
  visibility: visible;
  width: 38px;
}
.showMore::after{
  content: "Show";
  position: absolute;
  opacity: 0;
  width: 0px;
  top: 0px;
  left: 0;
  background-color: #4089ff;
  padding: 5px;
  padding-left: 7px;
  z-index: -1;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.showMore:hover::after{
  opacity: 1;
  z-index: 2;
  visibility: visible;
  width: 48px;
}

.shadowBox{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.connectivity{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* .ant-input{
  width: 768px;
} */